<!--<div class="app-body">-->
  <div class="row">
    <!--<div class="small-6 medium-2 large-2 columns">
    </div>-->
    <div class="column">
      <div class="callout clearfix">
        <a class="button float-left">right</a>
      </div>
      <div>
        <img src="../../assets/rafszul.svg" alt="">
      </div>
      <a class="button float-right">
          <a class="expanded large button" routerLink="/contact" routerLinkActive="is-active">get in touch!
            <img src="../../assets/TPV-TCP-logo-cleaned.svg" alt="">
            </a></a>

      
    </div>
    <!--<div class="small-6 medium-2 large-2 columns">
    </div>-->
  </div>
  <div class="row">
    <div class="callout clearfix">
      <a class="button float-left">Left</a>
      <a class="button float-right">Right</a>
    </div>
  </div>
<!--</div>-->
