<div class="row">
    <div class="column">

        <!-- this is chat log in/out section -->

        <div class="callout clearfix">
            <a class="button float-left" (click)="login()" *ngIf="!name">login</a>
            <a class="button float-right" (click)="logout()" href="chat">logout</a>
        </div>

        <!-- chat log in/out section ends here -->

        <!-- this is chat msg section -->

        <div class="chat-container" *ngFor="let item of items | async">
            <a href="#">{{item.name}}</a>

            <p>{{item.message}}</p>
        </div>

        <div class="chat-container">

            <input type="text" id="message" *ngIf="name" placeholder="chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />

        </div>
    </div>
</div>