<header class="header">
  <div class="row">
    <div class="small-2 medium=2 large-2 columns"></div>
    <div class="small-8 medium=8 large-8 columns">
      <a routerLink="/home" routerLinkActive="is-active" class="is-active"><img src="../assets/header_new-cleaned.svg" alt=""></a>
    </div>
    <div class="small-2 medium=2 large-2 columns"></div>
  </div>
  <div class="row">
    <ul class="header-subnav">
      <li><a routerLink="/home" routerLinkActive="is-active" class="is-active">home</a></li>
      <li><a routerLink="/contact" routerLinkActive="is-active">brew bar</a></li>
      <li><a routerLink="/chat" routerLinkActive="is-active">chat</a></li>
      <li><a routerLink="/espresso-journal" routerLinkActive="is-active">espresso journal</a></li>

      <li><a routerLink="/filter-journal" routerLinkActive="is-active">filter journal</a></li>

    </ul>
  </div>
</header>
