@charset 'UTF-8';

// this is the main scss file! only @import and comments!

// 1.Base
@import '_base/config',
        '_base/presets',
        '_base/icons';

// 2.Layouts
@import '_layouts/l-grid',
        '_layouts/l-default';

// 3.Modules
@import '_modules/m-accordions';
