@import '../styles/styles.scss';


// $app-main-font: 'Source Code Pro',
// monospace;
// $app-body-height: 7.5rem;
// $transition: all .35s ease-in-out;
// $header-bg: #074E68;
// $subnav-link-padding: 0.9rem;
// $subnav-font-size: 0.75rem;
// $subnav-link-opacity: 0.15;
// $header-height: 3.5rem;




// Default radius for button.
$button-radius: 50 !default;

// Default fill for button. Is either solid or hollow.
$button-fill: hollow !default;

// Default font size for button.
$button-font-size: 1.9rem !default;


$app-main-font: 'Karla',
sans-serif;
$header-bg: rgba(255, 255, 255, 0.7);
$subnav-link-padding: 0.9rem;
$subnav-font-size: 1rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;
h1,
h2,
h3 {
    font-family: $app-main-font;
    font-size: $subnav-font-size + 0.5rem;
    color: #474747;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-style: none;
}

h4,
h5 {
    font-family: $app-main-font;
    font-size: $subnav-font-size + 0.2rem;
    color: #474747;
    text-transform: none;
    text-decoration: none;
    text-decoration-style: none;
}

.app-body {
    text-align: center;
    background: $header-bg;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: $header-height;
    padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
    .headline {
        color: #000000;
    }
}

