<header class="header">
    <div class="row">
        <div class="small-6 medium=2 large-2 columns"></div>
        <div class="small-12 medium=8 large-8 columns">
            <img src="../assets/pomegranate-logo-002-header.svg" alt=""></div>
        <div class="small-6 medium=2 large-2 columns"></div>
    </div>

    <router-outlet></router-outlet>

    <div class="row">
        <ul class="header-subnav">
            <li><a routerLink="/contact" routerLinkActive="is-active">contact</a></li>
            <li><a routerLink="/home" routerLinkActive="is-active" class="is-active">home</a></li>
            <!-- <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li> -->
        </ul>
    </div>

</header>