/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* You can add global styles to this file, and also import other style files */

@import './assets/styles/settings';

// vendor

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-everything(true);

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400 700;
    background-color: #ffffff;
}
