<!--<div class="app-body">-->
    <div class="row">
        <div class="small-6 medium-2 large-2 columns">
        </div>
        <div class="small-12 medium-8 large-8 columns">

            <h4>
                Pomegranate connects and nurtures close relationships with some of the best British producers and restaurants.</h4>
            <br>
            <a class="expanded large button" routerLink="/contact" routerLinkActive="is-active">Get in touch!</a>
        </div>

        <div class="small-6 medium-2 large-2 columns">
        </div>
    </div>
<!--</div>-->

    