<div class="app-body">
  <div class="row">
  <div class="small-6 medium-2 large-2 columns">
    </div>
    <div class="small-12 medium-8 large-8 columns">
        <div class="media-object">
  <div class="media-object-section">
    <img src= "../../assets/pomegranate-logo-001-export/png/pomegranate-logo-000-fruit-no-back.png">
  </div>
  <div class="media-object-section">
    <h4>home works!</h4>
    <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
  </div>
</div>
    <div class="small-6 medium-2 large-2 columns">
    </div>
    </div>
</div>
