<div class="app-body">
  <div class="row">
  <div class="small-6 medium-2 large-2 columns">
    </div>
    <div class="small-12 medium-8 large-8 columns">
        <div class="media-object">
  <div class="media-object-section">
<!--     <img src= "../../assets/pomegranate-logo-001-export/png/pomegranate-logo-000-fruit-no-back.png"> -->
  </div>
  <div class="media-object-section">
    <h4></h4>
    <p>Pomegranate connects and nurtures close relationships with some of the best British producers and restaurants</p>
  </div>
</div>
    <div class="small-6 medium-2 large-2 columns">
    </div>
    </div>
</div>
